body {
  background-color: #f9f7fe;
  font-family: "Noto Serif", serif;
  margin: 0;
  padding: 0;
}

.weather-app {
  max-width: 600px;
  background: white;
  margin: 30px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-form-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-form-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.weather-app-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
}

.weather-app-details {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.weather-app-temperature-container {
  display: flex;
  align-items: center;
}

.weather-app-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.weather-app-temperature {
  font-size: 64px;
  font-weight: bold;
}

.weather-app-unit {
  font-size: 28px;
  position: relative;
  top: -14px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #999;
}
#humidity,
#wind-speed {
  color: #f65282;
  font-weight: bold;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 33px;
  height: 33px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.weather-forecast-temperature {
  color: #f65282;
  font-size: 16px;
  display: flex;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
